/* Navbar */

.navbar {
  opacity: 0.8;
}

/* Login Form */

#home-section .card-login {
  opacity: 1;
}

/* Home Section */

#home-section {
  background: url("../img/header-image.jpeg"); /* https://images.pexels.com/photos/356056/pexels-photo-356056.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940 */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 800px;
}

#home-section .dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 800px;
  background-color: rgba(0, 0, 0, 0.7);
}

#home-section .home-inner {
  margin-top: 100px;
}

/* About Section */

.shadowred {
  box-shadow: 0 4px 8px 0 rgba(252, 184, 204, 0.2),
    0 6px 20px 0 rgba(252, 184, 204, 0.19);
}

/* Information Section */

#information-section-1 .explore,
#information-section-2 .create,
#information-section-3 .share,
#information-section-4 .contact {
  font-size: 30px;
  font-weight: 400;
}

#information-section-1 .lead,
#information-section-2 .lead,
#information-section-3 .lead,
#information-section-4 .lead {
  font-size: 18px;
}

.bg-pink {
  background: #c91060; /* #8d0cad */
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

/* Lazy Image */

.lazy-img {
  filter: blur(20px);
}

/* Modal */

.hidden {
  display: none;
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  border: none;
  background: none;
  cursor: pointer;
}

.new-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  background-color: #ffffff;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 100;
  transition: all 0.5s;
}
